__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
.ipynb_checkpoints
profile_default/
.pdm.toml
__pypackages__/
*.sage.py
.env
.venv
env/
venv/
ENV/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/
.vscode/
.ruff_cache/
pyrightconfig.json
.DS_*
node_modules
**/uv.lock
**/mlruns/
**/.vite/
**/.databricks
**/.env
**/.env.local
